<div style="position: fixed; right: 20px; top: 20px;">
    <a (click)="logout()" class="hoverCursor"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 45px;"></i></a>
</div>
<div class="container" style="margin-top: 70px;" [hidden]="toDisplay!=1">
    Time Remaining : <countdown #cd [config]="{'demand' : false,'leftTime' : timeRemain}" (event)="onTimerFinished($event)"></countdown>
    <br>
    <h6>Score: {{ques['SN']-1}}</h6>
    <hr>
    <div style="margin: auto;">
        <h5>Instruction Before you begin</h5>
    </div>
    <ul>
        <li>For string answer, characters can be in any case</li>
        <li>There is no option to go back to previous question</li>
        <li>There is no option to End Test as its get updated in realtime</li>
        <li>Final ranklist will be made public within 2hrs of competition ending</li>    
    </ul>
    <hr>
    <ngx-md [data]="quesMD">
    </ngx-md>
    <form [formGroup]="ansForm" (ngSubmit)="submitAns()">
        <div class="center-align" >
            <input formControlName="ans" type="text" name="ans" style="width: 50%;">
        </div>
        <input formControlName="qno" type="hidden" name="qno">
        <div class="center-align" style="margin: auto;">
            <button class="btn blue" type="submit" [disabled] = "progress">Submit Ans</button>
        </div>
    </form>    
</div>
<div class="container center-align" style="margin-top: 70px;" [hidden]="toDisplay!=2">
    <h2>Starting in</h2> <countdown #cd2 [config]="{'demand' : false,'leftTime' : timeTostart}" (event)="onTimerFinished2($event)" style="font-size: 2rem;"></countdown>
</div>
<div class="container center-align" style="margin-top: 70px;" [hidden]="toDisplay!=3">
    <h2>Comptetition Ended</h2>
    <h4>Will notify the results soon</h4>
</div>
<div class="container center-align" style="margin-top: 70px;" [hidden]="toDisplay!=4">
    <h4>Test completed ;)</h4>
    <h5>Will notify the results soon</h5>
</div>
