<div class="container">
    <h4>Leaderboard</h4>
    <div *ngIf="toDisp == 2">
      <h6>*Rankilist not public, will be made public once competition ends</h6>
    </div>
    <table class="striped highlight" *ngIf="toDisp == 1">
        <thead>
          <tr>
            <th>Rank</th>
              <th>Username</th>
              <th>Name</th>
              <th>Score</th>
              <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of leaderBoard; let i = index">
            <td>{{i+1}}</td>
            <td>{{item['username']}}</td>
            <td>{{item['name']}}</td>
            <td>{{item['score']}}</td>
            <td>{{item['time']}}</td>
          </tr>
        </tbody>
      </table>
</div>